<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <div class="d-block mb-3 text-muted">Version 1.0.1</div>
      <div class="d-block mb-3 text-muted">&copy; Marek Sonnabend 2020</div>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" [routerLink]="['/'+ROUTE_PRODUCTS]">Produkte</a>
        </li>
        <li>
          <a class="text-muted" target="_blank" href="https://imkiez.de/impressum">Impressum</a>
        </li>
        <li>
          <a class="text-muted" target="_blank" href="https://imkiez.de/datenschutz">Datenschutz</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
