#teaser-img {
  background: url("https://imkiez.de/kiez-box/assets/box0.jpg");
  min-height: 200px;
  background-size: cover;
  background-position: bottom;
}
#opaque-header{
  background-color: white;
  opacity: 50%;
}
