<div>
  <ng-container *ngIf="!cartService.selectedBox; else showSelectedBox">
    <div class="position-relative overflow-hidden text-center">
      <h5>
        Welche Box soll es sein?
      </h5>
      <div class="overflow-auto">
        <div class="box" *ngFor="let box of boxes">
          <div
          class="card clickable"
          [ngClass]="{'active': cartService.selectedBox === box}"
          [title]="box.name">
            <img class="card-img-top" (click)="selectBox(box)" src="assets/{{box.thumb}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" (click)="selectBox(box)">{{box.name}}</h5>
              <p class="card-text" (click)="selectBox(box)">
                {{box.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </ng-container>
  <ng-template #showSelectedBox>
    <div  class="position-relative overflow-hidden text-center bg-light {{cartService.selectedBox.short}}" id="teaser-img">
      <div class="col-md-12 p-lg-5 mx-auto my-5">
        <div id="opaque-header">
          <h1 (click)="cartService.selectedBox = null">
            {{cartService.selectedBox.name}}
          </h1>
          <span class="m-1 btn-link reset-link" (click)="selectBox()">ändern</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div class="text-center mt-3" *ngIf="cartService.selectedBox">
  <div *ngIf="cartService.getSelectedNumberOfProducts() >= cartService.selectedBox.minNumberProducts; else chooseProducts">
    <p>
      <a type="button" class="btn btn-primary" [routerLink]="['/' + ROUTE_CART]">Zum Bezahlen</a>
    </p>
  </div>
  <ng-template #chooseProducts>
    <h6>Bitte selektiere mindestens {{cartService.selectedBox.minNumberProducts}} Produkt(e)</h6>
  </ng-template>
</div>

<div class="" *ngIf="cartService.selectedBox && selectedPrice">
  <div class="text-center">
    <div class="overflow-auto">
      <div class="box"
           *ngFor="let product of cartService.selectedBox.fixedProducts">
        <div
        class="card selected">
          <img class="card-img-top" src="assets/{{product.thumb}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">
              {{product.description}}
            </p>
            <div *ngIf="cartService.isSelectedProduct(product)">
              <app-product-variation [product]="product"></app-product-variation>
            </div>
          </div>
        </div>
      </div>
      <div class="box"
           *ngFor="let product of cartService.selectedBox.flexProducts">
        <div
        class="card"
        [ngClass]="{'selected': cartService.isSelectedProduct(product), 'unavailable': isNotWithInBudget(product)}">
          <img class="card-img-top" (click)="addToBox(product)" src="assets/{{product.thumb}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" (click)="addToBox(product)">{{product.name}}</h5>
            <p class="card-text" (click)="addToBox(product)">
              {{product.description}}
            </p>
            <div *ngIf="cartService.isSelectedProduct(product)">
              <app-product-variation [product]="product"></app-product-variation>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <div
        class="card selected">
          <div class="card-body">
            <img class="card-img-top" src="{{donationProject.img}}" alt="Card image cap">
            <h5 class="card-title">Spende</h5>
            <p class="card-text">
              {{calculateDonation()}} EURO
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-3" *ngIf="cartService.selectedBox">
  <div *ngIf="cartService.getSelectedNumberOfProducts() >= cartService.selectedBox.minNumberProducts; else chooseProducts">
    <p>
      <a type="button" class="btn btn-primary" [routerLink]="['/' + ROUTE_CART]">Zum Bezahlen</a>
    </p>
  </div>
  <ng-template #chooseProducts>
    <h6>Bitte selektiere mindestens {{cartService.selectedBox.minNumberProducts}} Produkt(e)</h6>
  </ng-template>
</div>

<!-- Modal -->
<div class="modal-backdrop fade" [ngClass]="{'show': modalOpened}"></div>
<div class="modal fade" [ngClass]="{'show': modalOpened}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fertig</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalOpened=!modalOpened">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Du hast eine gute Wahl getroffen
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalOpened=!modalOpened">Änderungen vornehmen</button>
        <a type="button" class="btn btn-primary" [routerLink]="['/' + ROUTE_CART]">Bezahlen</a>
      </div>
    </div>
  </div>
</div>
