.box {
  display: inline-block;
  margin: 10px 0;
  width: 50%;
  & .fixed {
    background-color: grey;
  }
  & .selected {
    background-color: lightgrey;
  }
  & .clickable {
    cursor: pointer;
  }
  & .unavailable:not(.selected) {
    opacity: 0.5;
    background-color: white;
    color: white;
  }
  img {
    max-width: 50%;
    margin: 0 auto;
  }
}

.modal-backdrop {
  display: none;
  &.show {
    display: block;
  }
}
.modal {
  &.show {
    display: block;
  }
}

@media (min-width: 568px) {
  .box {
    width: 33%;
  }
}


