<div class="m-5">
   <ng-container *ngIf="!selectedBox; else showSelectedBox">
      <div class="d-flex justify-content-center">
        <h5>
          Welche Box soll es sein?
        </h5>
      </div>
      <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Box" *ngFor="let box of boxes">
          <button
          type="button"
          class="btn btn-secondary"
          [ngClass]="{'active': selectedBox === box}"
          (click)="selectedBox = box"
          [title]="box.name">{{box.short}}</button>
        </div>
      </div>
   </ng-container>
   <ng-template #showSelectedBox>
     <div class="d-flex justify-content-center">
       <h1 (click)="selectedBox = null">
         {{selectedBox.name}}
       </h1>
       <span class="m-1 btn-link reset-link" (click)="selectedBox = null">x</span>
     </div>
   </ng-template>
</div>

<div class="m-5" *ngIf="selectedBox">
  <div class="d-flex justify-content-center">
    <h5>
      Wieviel willst du ausgeben ?
    </h5>
  </div>
  <div class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Preis" *ngFor="let price of prices">
      <button
      type="button"
      class="btn btn-secondary"
      [ngClass]="{'active': selectedPrice === price}"
      (click)="selectedPrice = price">{{price}} EURO</button>
    </div>
  </div>
</div>
<div class="m-5" *ngIf="selectedBox && selectedPrice">
  <div class="d-flex justify-content-center">
      <img src="assets/open.png" class="width--{{selectedPrice}}">
  </div>
</div>
