

.modal-backdrop {
  display: none;
  &.show {
    display: block;
  }
}
.modal {
  &.show {
    display: block;
  }
}
#teaser-img {
  min-height: 200px;
  background-size: cover;
  background-position: bottom;

  &.Kaffeeliebhaber {
    background-image: url('https://imkiez.de/kiez-box/assets/kaffee.jpg');
  }
  &.Teeliebhaber {
    background-image: url('https://imkiez.de/kiez-box/assets/tee.jpg');
  }
}
#opaque-header {
  background-color: white;
  opacity: 50%;
}


@media (min-width: 568px) {
  .box {
    width: 33%;
  }
}


