<div class="open-box mt-5">
  <div class="text-center" *ngIf="cartService.products as products">
    <div *ngIf="products.length > 0; else noProducts">
      Deine Box enthält:
      <div class="text-center" *ngFor="let product of products">
        <img src="assets/{{product.thumb}}"> <span class="font-weight-bold">{{product.name}}</span>
        <div class="small" *ngIf="product.selectedProductVariation">
          {{product.selectedProductVariation.name}}
        </div>
      </div>
      <div class="text-center">
        <img src="assets/{{donationProject.thumb}}">
        <span class="font-weight-bold">{{cartService.calculateDonation()}} EUR Spende</span>
      </div>
      <div>
        <a class="btn btn-primary" [routerLink]="['/box-gestalten/' + cartService.selectedBox.short]">
          Ändern
        </a>
      </div>
    </div>
    <ng-template #noProducts>
      Deine Box ist leer
      <div>
        <a class="btn btn-primary" [routerLink]="['/box-gestalten']">
          Jetzt zusammenstellen.
        </a>
      </div>
      
    </ng-template>
    
  </div>
  
</div>
