
.open-box {
  background: url('/assets/open.png');
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: grey;
  padding-top: 65px;
  img {
    width: 50px;
  }
}
