
.open-box {
  background: url('https://imkiez.de/kiez-box/assets/open.png');
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: grey;
  img {
    width: 50px;
  }
}
