<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-md-row justify-content-between">
    <div>
      <a class="py-2" [routerLink]="['/']" aria-label="Home">
        <img src="assets/kiez-box.svg">
      </a>
      <a class="py-2 pl-2" [routerLink]="['/'+ROUTE_PRODUCTS]" aria-label="Home">
        Produkte
      </a>
    </div>
    <div>
      <a class="py-2 d-md-inline-block" [routerLink]="['/'+ROUTE_CART]"
         *ngIf="getNumber() > 0">
        <span class="badge badge-info">{{getNumber()}}</span>
        Bezahlen
      </a>
    </div>
  </div>
</nav>
