/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

img {
  max-width: 100%;
  &.width--30 {
    max-width: 30%;
  }
  &.width--40 {
    max-width: 40%;
  }
  &.width--50 {
    max-width: 50%;
  }
}
.container {
  max-width: 100%;
}
.box {
  display: inline-block;
  margin: 10px 0;
  width: 50%;
  & .fixed {
    background-color: grey;
  }
  & .selected {
    background-color: lightgrey;
  }
  & .clickable {
    cursor: pointer;
  }
  & .unavailable:not(.selected) {
    opacity: 0.5;
    background-color: white;
    color: white;
  }
  img {
    max-width: 50%;
    margin: 10px auto;
  }
}
.active {
  background-color: #39ae64 !important;
}
.reset-link {
  text-decoration: none;
  cursor: pointer;
}
